{
  "presets": [
    "es2015",
    ["env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not ie 11",
          "not ie 10",
          "not op_mini all"
        ]
      },
      "useBuiltIns": true
    }]
  ]
}