.cinema-zoom__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: zoom-out;
  z-index: 999999;

  opacity: 0;
  background-color: #fff;
}

.cinema-zoom__original {
  cursor: zoom-in;
}

.cinema-zoom__clone {
  position: absolute;
  z-index: 999999;
}

.cinema-zoom__image {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.cinema-zoom__caption {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 15px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #666;
  text-align: center;

  z-index: 999999;
}