.cinema-zoom__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: zoom-out;
    z-index: 999999;

    opacity: 0;
    background-color: #000;
}

.cinema-zoom__original {
    cursor: zoom-in;
}

.cinema-zoom__clone {
    position: absolute;
    z-index: 999999;
}

.cinema-zoom__image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999999;
}