.cinema-zoom__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: zoom-out;
  z-index: 999999;

  opacity: 0;
  background-color: #fff;
}

.cinema-zoom__original {
  cursor: zoom-in;
}

.cinema-zoom__clone {
  position: absolute;
  z-index: 999999;
}

.cinema-zoom__image {
  width: 100%;
  height: 100%;
}

.cinema-zoom__caption {
  position: fixed;
  bottom: 0;
  left: 50%;

  max-width: 800px;
  padding: 15px;

  font-family: 'Georgia', serif;
  font-size: 14px;
  font-style: italic;
  color: #999;
  text-align: center;

  z-index: 999999;
  transform: translateX(-50%);

  &:empty {
    display: none;
  }
}